.contenido {
    display: grid;
    align-items: flex-start;
    gap: 5rem;
}
@media (min-width: 778px) {
    .contenido {
        grid-template-columns: 3fr 2fr;
    }   
}
.carrito {
    padding: 3rem;
}
.producto {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4rem;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid #cfcfcf;

    /* Para poder colocar el boton en la esquina derecha */
    position: relative;
}
.producto:last-of-type {
    border-bottom: none;
}
.select {
    all: unset;
    border: 1px solid #cfcfcf;
    text-align: center;
    width: 100%;
    padding: .5rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
}
.producto p {
    margin: 0 0 1rem 0;
}
.producto span {
    font-weight: 700;
    font-size: 2.8rem;
}
.nombre {
    font-weight: 700;
    font-size: 2.8rem;
}
.precio {
    font-weight: 700;
    color: var(--primary);
    font-size: 2.4rem; 
}
.subtotal {
    font-size: 2rem;
}
.resumen {
    background-color: #f2eeea;
    padding: 3rem;
    border-radius: .3rem;
    position: sticky;
    top: 3rem;
    text-align: center;
}
.resumen span {
    font-size: 2.8rem;
    font-weight: 700;
}
.btn-eliminar {
    all: unset;
    position: absolute;
    top: 3rem;
    right: 2rem;
    color: red;
    font-weight: 700;
}
.btn-eliminar:hover {
    cursor: pointer;
}