
/** Componente Tienda.jsx **/
.guitarras-grid {
    display: grid;
    grid-template-columns: row;
    gap: 4rem;
}

@media (min-width: 778px) {
    .guitarras-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .guitarras-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Componente guitarra.jsx **/
.guitarras {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.guitarras .contenido {
    padding: 2rem;
}
.guitarras .contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
}
.guitarras .precio {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

/* Estos estilos sirven para quitar contenido */
.guitarras .descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size: 1.8rem;
}

/* Formulario para agregar al carrito */

.formulario {
    display: flex;
    flex-direction: column;
}
.formulario label {
    margin: 1rem 0 1rem 0;
    font-weight: 700;
}
.formulario select {
    text-align: center;
    padding: 1rem;
    border-radius: .3rem;
}
.formulario input[type="submit"] {
    margin-top: 2rem;
    padding: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: .3rem;
    font-weight: 900;
    transition-property: background-color, transform;
    transition-duration: 300ms;
    position: relative;
    overflow: hidden;
}
.formulario input[type="submit"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg);
    transition: left 500ms;
}
.formulario input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--primary);    
}
.formulario input[type="submit"]:hover::before {
    left: 100%;
  }